BasedOnStyle: Webkit
PointerAlignment: Right
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
IndentPPDirectives: AfterHash
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
SortIncludes: Never
ColumnLimit: 100
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true
